{% extends 'base-analisis.html' %}
{% load staticfiles %}
{% block titulo %}
Carga
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
{% endblock %}
{% block contenido %}
 <div class="container">
  <div class="row text-center">
      <div class="col-lg-6 col-lg-offset-3">
        <form action="/analisis/cargar/" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
                <label>Bootstrap style button 1</label>
                <input name="path" type="file" id="BSbtndanger" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);"><div class="bootstrap-filestyle input-group"><input type="text" class="form-control " placeholder="" disabled=""> <span class="group-span-filestyle input-group-btn" tabindex="0"><label for="BSbtndanger" class="btn btn-success "><span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> <span class="buttonText"> Selecciones un archivo</span></label></span></div>
            </div>
            <button type="submit" class="btn btn-success">Cargar</button>
        </form>
      </div>
  </div>
 </div>
{% endblock %}